---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

Below, you'll find a description of the courses that I've taught in the past.

In Fall 2019, I'll be teaching DEMS 6070 (Disasters & Ethics) and DEMS 3706 (Disasters & Humans). In Winter 2020, I'll be teaching DEMS 3702 (Comprehensive Emergency Management) and DEMS/ADMS 4421 (Qualitative Methods).

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
